<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{> doctitle}}</title>
    {{#block 'medlemskapresultater/partials/style' }}
    {{/block}}
</head>
<body>
<div class="container">
<div id="header"><img class="navlogo" src="{{ image "Navlogo.png" }}"/></div>
<p class="p3">Unntatt offentlighet etter<br />

            offentleglova § 13 første ledd<br />

            og NAV-loven § 7 </p>
<div class="header">
    <h1 class="heading">
    <div>{{> title }}</div>
    </h1>
    <br/>

</div>
</div>
<div class="container">
    <div class="personinfo">
        <div class="persontekst">
            <div class="persontekst__sidetopp">
                <div class="persontekst__personalia">
                <b class="personalia_heading">Personopplysninger</b>
                    <p>
                        Navn : {{ navn }}
                    </p>
                    <p class="id">
                        Fødselsnummer : {{ insert_at fnr 6 }}
                    </p>
                    <p>Bruker er statsborger i {{statsborger}}</p>
                </div>
            </div>
        </div>
    </div>
    <p><h3>Til saksbehandler</h3></p>

    {{#each årsaker}}
        <br/>
    <b>{{ begrunnelse }}</b>
        <br/><div class="beskrivelse">{{{ beskrivelse }}}</div><br/>

    {{/each}}


</div>

<div id="footer">
    <span class="tidspunkt">Opplysningene er hentet fra registrene {{ tidspunkt }}.</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
