<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{> doctitle}}</title>
    {{#block 'medlemskapresultater/partials/style' }}
    {{/block}}
</head>
<body>
<div class="container">
    <div id="header"><img class="navlogo" src="{{ image "Navlogo.png" }}"/></div>
    <p class="p3">Unntatt offentlighet etter<br/>
        offentleglova § 13 første ledd<br/>
        og Nav-loven § 7 </p>
</div>
<div class="container">
    <div class="personinfo">
        <div class="persontekst">
            <div class="persontekst__sidetopp">
                <div class="persontekst__personalia">
                    <p class="personalia_heading">Personopplysninger</p>
                    <p class="navn">
                        Navn: {{ navn }}
                    </p>
                    <p class="id">
                        Fødselsnummer: {{ insert_at fnr 6 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p>
    <h3>Du er ikke medlem i folketrygden i perioden {{ fom }} - {{tom}}.</h3></p>
    <p class="automatisk-vurdering">
        Resultatet av vurderingen er at du er omfattet av trygdelovgivningen i {{lovvalgsland}} og du er derfor ikke medlem i folketrygden i perioden {{medlfom}} - {{medltom}}.<br/>
        Vurderingen er basert på opplysninger om deg fra:
    </p>
    <div id="oppsummering" class="oppsummering">
        <ul>
            <li>Utenlandske trygdemyndigheter (Nav sitt medlemskapsregister MEDL)</li>

            <li>Folkeregisteret</li>

            <li>Arbeidstaker- og arbeidsgiverregisteret</li>

            <li>Enhetsregisteret</li>
            {{#eq erTredjelandsborger "true"}}
                <li>Utlendingsdirektoratet</li>
            {{/eq}}
        </ul>
        <p>
            Vurderingen forutsetter at du er omfattet av et annet lands trygdelovgivning,
            og at arbeidsforhold og/eller arbeidsmønster ikke har endret seg etter at du begynte å jobbe i Norge.
        </p>

        <div class="opprettet-automatisk">Notatet er opprettet automatisk i forbindelse med søknad om {{ytelse}} for perioden {{ fom }} - {{ tom }}</div>
        <div class="opprettet-automatisk">Vurderingen er gjort av Arbeids- og velferdsdirektoratets system for automatisk vurdering av lovvalg og medlemskap (systemet “LovMe”).</div>
    </div>
</div>

<div id="footer">
    <span class="tidspunkt">Opplysningene er hentet fra registrene {{ tidspunkt }}.</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
